@model FooterModel
@using Nop.Web.Models.Common;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@using Nop.Services.Configuration;
@using Nop.Core.Domain.Tax;

@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var pinterestUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("alicantethemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("alicantethemesettings.vimeourl", String.Empty, storeId, true);
    var instagramUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("alicantethemesettings.instagramurl", String.Empty, storeId, true);
    var removeDesignedBy = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("alicantethemesettings.removedesignedby", false, storeId, true);
    var removeCopyright = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("alicantethemesettings.removecopyright", false, storeId, true);
    var workingLanguageId = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Id;
}

<div class="footer">
    <div class="footer-upper">
        <div class="center">
            <div class="footer-block footer-block-first">
                <h3>@T("SevenSpikes.Themes.Alicante.Common.ConnectWithUs")</h3>
                <ul class="contact-us">
                    <li><i class="fa fa-phone"></i>@T("SevenSpikes.Themes.Alicante.Common.Phone")</li>
                    <li><i class="fa fa-mobile-phone"></i>@T("SevenSpikes.Themes.Alicante.Common.Mobile")</li>
                    <li><i class="fa fa-envelope"></i>@T("SevenSpikes.Themes.Alicante.Common.EmailName")@T("SevenSpikes.Themes.Alicante.Common.EmailAt")@T("SevenSpikes.Themes.Alicante.Common.EmailDomain")</li>
                </ul>
                @Html.Partial("_StoreMaps")
            </div>
            <div class="footer-block">
                <h3>@T("SevenSpikes.Themes.Alicante.Common.CustomerServices")</h3>
                <ul class="footer-menu">
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a> </li>
                    @if (Model.SitemapEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount)
                    {
                        <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                    }
                </ul>
            </div>
            <div class="footer-block">
                <h3>@T("Account.MyAccount")</h3>
                <ul class="footer-menu">
                    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.CustomerInfo")</a></li>
                    <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
                    <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                </ul>
            </div>
            <div class="footer-block">
                <h3>@T("SevenSpikes.Themes.Alicante.Common.OurOffers")</h3>
                <ul class="footer-menu">
                    @if (Model.NewProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                    }
                    @if (Model.RecentlyViewedProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                    }
                    @if (Model.CompareProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                </ul>
                <div class="payment">
                    <h3>@T("SevenSpikes.Themes.Alicante.Common.PaymentOptions")</h3>
                    <ul>
                        <li><i class="fa fa-cc-paypal"></i></li>
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-amex"></i></li>
                    </ul>
                </div>

                <div class="social-media">
                    <h3>@T("SevenSpikes.Themes.Alicante.Common.FollowUs")</h3>
                    <ul>
                        <li><a href="http://www.facebook.com/barbaritasliquors"><i class="fa fa-facebook-square"></i></a></li>
                    </ul>
                </div>

                <div style="color: white">
                    @T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)
                </div>
            </div>
        </div>
    </div>   
</div>



@if (Model.DisplayTaxShippingInfoFooter)
{
    var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
    <div class="footer-tax-shipping">
        @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
    </div>
}
